* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #bbb;
}

main {
  width: 70%;
  margin: auto;
  text-align: center;
  background-color: #eee;
  margin-top: 3rem;
}

.header {
  padding: 1rem;
}

.text {
  background-color: #fff;
  padding: 1rem;
}

.btn {
  color: #fff;
  background-color: tomato;
  padding: 0.3rem;
  outline: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin: 1rem 0;
}

.textarea {
  padding: 0.3rem;
  outline: none;
  border: solid 1px #ccc;
  resize: none;
  margin: 1rem 0;
}
